<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".activity_app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseProject"
        tools:replace="android:fullBackupContent">

        <!-- Disable AdMob auto-initialization -->
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="${applicationId}.mobileadsinitprovider"
            android:enabled="false"
            android:exported="false"
            tools:node="remove" />

        <activity
            android:name=".activity_app.oldwest.OldWestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.oldwest.ViewOldWestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_app.permission.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.main.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity_app.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.makescreen.MakeScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.nameedit.NameEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_app.bountyedit.BountyEditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_app.photofilter.PhotoFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.postershadow.PosterShadowActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.template.TemplateListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.posterwanted.PosterWantedTemplateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.success.SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity_app.mycreation.MyCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.mycreation.ViewCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.bountyfilter.BountyFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.bountyfilter.SuccessfulBountyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.editsticker.EditStickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_app.game.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseProject" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".core.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </service>
    </application>

</manifest>